



<button class="btn-number" (click)="reset()">RESET</button>

<div id="calculator">

<div id="result">
<p>{{stringNum}}</p>
</div>

<div id="buttons">

  <button (click)="addOne(1)" class="btn-number">1</button>
  <button (click)="addOne(2)" class="btn-number">2</button>
  <button (click)="addOne(3)" class="btn-number">3</button>
  <button (click)="addOne(4)" class="btn-number">4</button>
  <button (click)="addOne(5)" class="btn-number">5</button>
  <button (click)="addOne(6)" class="btn-number">6</button>
  <button (click)="addOne(7)" class="btn-number">7</button>
  <button (click)="addOne(8)" class="btn-number">8</button>
  <button (click)="addOne(9)" class="btn-number">9</button>
  <button (click)="addOne(0)" class="btn-number">0</button>
  <button (click)="makeOp('/')" class="btn-number">/</button>
  <button (click)="makeOp('*')" class="btn-number">x</button>
  <button (click)="makeOp('-')" class="btn-number">-</button>
  <button (click)="makeOp('+')" class="btn-number">+</button>
  <button (click)="showResult()" class="btn-number">=</button>
</div>


</div>